body {
    text-align: center;
}

span {
    display: inline-block;
}

span {
    display: inline-block;

    background-color: lightblue;
    /* padding: 5px; */
    border: 1px solid darkgray;
}

body {
    background-color: dimgray;
}
